
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"; 


body {
  background-color: #f7f7f7;
  font-family: "Montserrat", sans-serif;
}

div{
  overflow:hidden;
  white-space: nowrap;
}

.header {
  background-color: #3b5998;
  color: #ffffff;
  text-align: center;
  font-size: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  /* position: absolute; */
}

.content {
  position: relative;
  top: 6em;
  display: grid;
  grid-template-columns: 1fr 50em 1fr;
  grid-row-gap: 1em;
}


.module {
  background-color: #ffffff;
  grid-column-start: 2;
  grid-column-end: 3;
  display: grid;
  grid-row-gap: 1em;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-rows: 3em 1fr;
  text-indent: 1em;
}

.module-header {
  /* grid-column: 1 / 4; */
  /* grid-row: 1; */
  grid-area: "content";
  font-size: 2rem;
  border-bottom: #f7f7f7 solid;
}


.module-item{
  font-size: 1.3rem;
  grid-row: auto;
  border-top: #f7f7f7 solid;
}

.module-item.number{
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 1fr;
}
.tree-item{
  display: grid;
  grid-template-areas:"title title run collapse"
  "null content content content";
  grid-template-rows: auto;
  grid-template-columns: 20px 1fr 50px 50px;
  border-top: #f7f7f7 solid;
}


.tree-item-title{
  grid-area:title;
}
.tree-item-run{
  grid-area:run;
}
.tree-item-collapse{
  grid-area:collapse;
}
.tree-item-content{
  grid-area:content;
  border-bottom: #f7f7f7 solid;
}

/* .module-item-updown {
  display: grid;
  font-size: 2em;
  grid-template-columns: 1fr 1fr;
} */

/* 
.module-item-setting button{
  display: inline block;
  left:1rem;
  right:1rem;
} */

/* .module-item-content{
   grid-column: 1 / 4;
} */

/* .run-behavior{
  grid-column: 2;
} */
/* 
.speech-log{
  margin: 1em;
  background-color: #f7f7f7;
  height: 50vh;
  width: 90%;
  vertical-align: bottom;
  overflow: auto;
  /* text-overflow:  */
  /* overflow: scroll; */
  /* direction: rtl; */

/* .speech-log div{
  white-space: normal;
  padding-left: 1.5em;
  text-indent: -1.5em;
  font-size: 2em;
}  */